
  
.site_layout {
  background: rgb(255, 255, 255);
}

.site_layout_background {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 40px;
  min-height: 360;
}

.header {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.logo {
  font-size: 27px;
  font-weight: bold;
  color: white;
  background-color: #002140;
  text-align: center;
  /* justify-content: center; */
  box-sizing: border-box;
  padding: 11px;
  cursor: pointer;
}

.title_content {
  font-size: 27px;
  padding-left: 50px;
  font-weight: bold;
}

.layout {
  min-height: 100vh;
}

.content {
  margin: 16px 16px;
}

.footer {
  text-align: center;
}